$blue: #39d1ff;
$green: #41ebcb;
$orange: #ffc900;
$white: #ffffff;
$font-color: #5a5a5a;
$border-radius: 5px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  // This defines what 1rem is
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  overflow: auto;
}
body {
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to top right, $blue, $green);
  // display: flex;
  // justify-content: center;
}

h1 {
  font-size: 3.5rem;
}
p {
  font-size: 1.6rem;
}

.container {
  width: 60%;
  margin: 10vh auto;
  background-color: $white;
  border-radius: $border-radius;
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.04),
    0 4px 4px rgba(0, 0, 0, 0.04), 0 8px 8px rgba(0, 0, 0, 0.04);
  .logo {
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    &__svg {
      width: 8rem;
      // background-color: red;
    }

    &__text {
      color: $blue;
      font-family: 'Overpass Mono', monospace;
      font-variant-numeric: slashed-zero;
      font-weight: 400;
      font-size: 2.6rem;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      font-style: normal;
      transform: scaleY(0.8);
      margin-top: 1.2rem;
    }
  }

  .title {
    margin: 2rem;
    font-size: 1.8rem;
    color: $font-color;
  }

  .emails {
    width: 100%;
    min-height: 8rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: $border-radius;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    &__item {
      width: min-content;
      height: 2.5rem;
      padding: 1.2rem 1.5rem;
      display: flex;
      align-items: center;
      margin: 0.5rem;
      background-color: $orange;
      color: $white;
      border-radius: 3px;
      cursor: pointer;
    }

    &__cross {
      font-size: 1.3rem;
      margin-left: 1rem;
      color: #fff;
      text-align: center;
    }
  }

  .filters {
    width: 100%;
    color: $font-color;

    h3 {
      text-transform: uppercase;
      margin: 1.8rem 0;
    }
    &__group {
      margin: 1.8rem 0;

      height: 2.5rem;
      display: flex;
      align-items: center;
      border-radius: 3px;
      position: relative;
    }

    &__label {
      background-color: $blue;
      border-radius: 3px 0 0 3px;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      height: 100%;
    }

    &__select {
      text-align: center;
      width: 13rem;
      height: 100%;
      border: 1px solid $blue;
      color: $blue;
      border-radius: 0 3px 3px 0;
    }

    &__custom-select {
      position: relative;

      & select {
        display: none; /*hide original SELECT element: */
        // visibility: hidden;
      }

      .select-selected {
        // background-color: DodgerBlue;
        color: $blue;
      }

      /* Style the arrow inside the select element: */
      .select-selected:after {
        position: absolute;
        content: '';
        top: 10px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: $blue transparent transparent transparent;
      }

      /* Point the arrow upwards when the select box is open (active): */
      .select-selected.select-arrow-active:after {
        border-color: transparent transparent $blue transparent;
        top: 3px;
      }

      /* style the items (options) */
      .select-items div {
        height: 2.5rem;
        color: black;
        padding: 8px 16px;
        cursor: pointer;
      }

      /* style the selected item: */
      .select-selected {
        width: 18rem;
        height: 2.5rem;
        color: $blue;
        padding: 6px 16px;
        border: 1px solid $blue;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
      }

      /* Hide the items when the select box is closed: */
      .select-hide {
        display: none;
      }

      /* Style items (options): */
      .select-items {
        position: absolute;
        margin-top: 0.3rem;
        background-color: transparent;
        border-radius: 10px;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        border: 2px solid transparent;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
          0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
          0 8px 16px rgba(0, 0, 0, 0.11);
      }
    }

    &__option {
      border-radius: 15px;
    }

    &__input {
      margin-left: 1.8rem;
      padding: 0.8rem;
      width: 20rem;
      height: 100%;
      border: 1px solid $blue;
      border-radius: 3px;
      font-size: 1.2rem;

      &:focus {
        outline: none;
      }
    }

    &__remove {
      margin-left: 1.5rem;
      width: 1rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      // background-color: green;
    }

    &__add {
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      height: 3rem;
      font-size: 1.2rem;
      font-weight: bold;
      background-color: transparent;
      border: none;
      color: $font-color;
      cursor: pointer;
    }
  }

  .btn {
    margin: 1.8rem 0;
    align-self: flex-end;
    background-color: $orange;
    border: none;
    color: $white;
    padding: 1.3rem 2.8rem;
    border-radius: 5rem;
    cursor: pointer;
  }
}
